---
import HaikuDesktop from '../components/haiku/haiku-desktop.svg';
import ScrollingText from './ScrollingText.astro';
import Title from './Title.astro';

const frames: Array<{ default: string }> = [];

for (let i = 1; i < 47; i++) {
	const n = i < 10 ? `0${i}` : `${i}`;

	const frame = await import(`./animation-frames/${n}.svg`);
	frames.push(frame);
}
---

<div class="animation__container">
	{
		frames.map((frame, idx) => (
			<img
				src={frame.default}
				class={'animation__frame'}
				id={`animation-frame-${idx + 1}`}
			/>
		))
	}
	<img id="haiku-desktop" class="fade-in" src={HaikuDesktop} />
	<div class="title-section">
		<Title />
	</div>
	<!-- <div class="scrolling-text-container fade-in">
		<ScrollingText />
	</div> -->
</div>

<style lang="scss">
	@import '../styles/main';

	.title-section {
		position: absolute;
		top: 0;
		right: 0;
	}

	svg {
		color: $white;
	}

	.animation {
		&__container {
			width: 80%;
			height: 80%;
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
		}

		&__frame {
			position: absolute;
			width: 100%;
			visibility: hidden;

			animation-name: showAndHide;
			animation-duration: 0.03s; // NEED TO ALIGN

			@for $i from 1 through 46 {
				&#animation-frame-#{$i} {
					animation-delay: 1 + $i * 0.03s; // NEED TO ALIGN
				}
			}

			&#animation-frame-46 {
				animation-name: show;
				animation-iteration-count: infinite;
			}
		}
	}

	#haiku-desktop {
		width: 25%;
		position: absolute;
		bottom: 50%;
		left: -3rem;
	}
</style>
